.post{
    max-width: 600px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    border-radius: 3px;
}
.post-image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post-text{
    font-weight: normal;
    padding: 5px;
}
.post-header{
    display: flex;
    align-items: center;
    padding: 5px;
}
.post-header-avatar{
    margin-right: 10px;
}
.post-comment-box{
    display: flex;
    margin-top: 5px;
    border-top: 1px solid lightgray;
}
.post-comment-input{
    flex: 1;
    border: none;
    padding: 20px;
}
.post-comment-button{
    flex: 0;
    border: none;
    color: #1ba0f7;
    background-color: transparent;
}
.post-comments{
    padding: 5px;
}

.post-like{
    font-weight: normal;
    padding: 5px;
}
.post-like-btn-like{
    border: none;
    background-color: transparent;
}
.post-like-btn-unlike{
    color: #ed4956;
    border: none;
    background-color: transparent;
}